:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --card-set-gap: 30px;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Utilities */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------ */
/* Page header */

.page-header {
  background-color: var(--secondary-text-color);
  border-bottom: 1px solid #ececec;
}

/* Logo */
.logo {
  color: var(--title-text-color);

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--accent-color);
}

/* Site nav */

.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.contact-nav .link {
  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  font-size: 14px;
  line-height: 1.71;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2F303A;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* main button */

.btn.primary {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.btn.primary:hover,
.btn.primary:focus {
  color: var(--primary-bg-color);
  background-color: #188CE8;

  cursor: pointer;
}

/* Прихований заголовок */
.hiden-title {
  margin-top: 0;
  margin-bottom: 0;

}

/* Sections*/

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-content .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-content p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Features */

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.features-list > .item {
  flex-basis: calc((100% - 90px) / 4);
}

/* Gallery */

.section.about {
  padding-top: 0;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.gallery-list > .item {
  flex-basis: calc((100% - 60px) / 3);
}

/* Team */

.team {
  background-color: #F5F4FA;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.team-list > .item {
  flex-basis: calc((100% - 90px) / 4);

  background-color: #ffffff;
}

.team-card h3 {
  margin-top: 0;
}

.team-card p {
  margin-top: 0;
  margin-bottom: 0;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a; 
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav {
  display: block;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo span {
  color: var(--accent-color);
}

.address {
  color: #ffffff;
  font-style: normal;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact .link {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}

.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}

/* Portfolio main */

/* Buttons */

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter .filter-item + .filter-item {
  margin-left: 8px;
}

.filter {
  list-style: none;

  background-color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.btn.secondary {
  min-height: 38px;
  padding: 6px 22px;

  border-radius: 4px;
  border: none;

  color: var(--title-text-color);
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;
}

/* Cards set */

.card p {
  margin-top: 0;
  margin-bottom: 0;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);

  font-size: 16px;
  line-height: 1.87;
}

.card-set > .item {
  flex-basis: calc((100% - 60px) / 3);
}

.card-set .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-info {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}